exportPattern("^[[:alpha:]]+")
importFrom("ggplot2","ggsave")
importFrom("gridExtra","ttheme_minimal")
importFrom("grDevices","rgb")
importFrom("gtable","gtable_add_grob")
importFrom("gridExtra","tableGrob")
importFrom("grid","segmentsGrob")
importFrom("grid","unit")
importFrom("grid","gpar")
importFrom("utils", "read.csv")
